### Worldbank country indicator analysis
in this noterbook we will:
1. get raw data from excel
2. get isocode from api
3. get data from worldbank

In [12]:
import pandas as pd
import requests

to import excel we use pandas and create a dataframe with excel data

In [13]:
df = pd.read_excel('Data-sheet-STUDENTS.xlsx',header=2,index_col=0)

In [14]:
df['Country (according to CN Gov):']

1                            Afghanistan
2                                Albania
3                                Armenia
4                             Azerbaijan
5                                Bahrain
                     ...
64    United States of America (Not BRI)
65                               Ukraine
66                            Uzbekistan
67                               Vietnam
68                                 Yemen
Name: Country (according to CN Gov):, Length: 68, dtype: object

In [20]:
iso_codes = {}

In [28]:
for index, name in df['Country (according to CN Gov):'].items():
    if name in iso_codes:
        continue
    
    cleaned_name = name.split('(')[0].strip()
    if cleaned_name == 'Thailiand':
        cleaned_name = 'Thailand'
    elif cleaned_name == 'The United Arab Emirates':
        cleaned_name = 'United Arab Emirates'
    
    url = 'https://restcountries.eu/rest/v2/name/' + cleaned_name
    r = requests.get(url)
    if r.status_code == 200:
        data = r.json()
        country_code = data[0]['alpha3Code']
        iso_codes[name] = country_code
    else:
        print('[ERROR] we still cannot get the data')
        print(name)

In [31]:
df['isocode'] = df['Country (according to CN Gov):'].apply(lambda x: iso_codes[x])

In [34]:
df[['isocode','Country (according to CN Gov):']]

   isocode      Country (according to CN Gov):
1      AFG                         Afghanistan
2      ALB                             Albania
3      ARM                             Armenia
4      AZE                          Azerbaijan
5      BHR                             Bahrain
..     ...                                 ...
64     USA  United States of America (Not BRI)
65     UKR                             Ukraine
66     UZB                          Uzbekistan
67     VNM                             Vietnam
68     YEM                               Yemen

[68 rows x 2 columns]

In [ ]:
df.